/* General */
:root{
    --greenDarkColor: #005e54;
    --greenLightColor: #00c68a;
    --navbarHeight: 120px;
    --navbarPadding: 2.1%;
}
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
body{
    padding: 0px;
    margin: 0px;

}
body::-webkit-scrollbar {
    display: none;
}

/* Intro Section */
#introSection{
    background-image: radial-gradient(var(--greenLightColor),var(--greenDarkColor));
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introSection img{
    width: 80%;
    max-height: 90%;

}

#introSection i{
    font-size: 50px;
    color: white;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    cursor: pointer;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 10px;
    }
  }

/* Nav Bar */
#navbar {
    overflow: hidden;
    /* background-image: linear-gradient(45deg,var(--greenDarkColor),var(--greenLightColor),var(--greenDarkColor)); */
    background-color: var(--greenLightColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--navbarPadding);
    height: var(--navbarHeight);
    width: calc(100% - 2* var(--navbarPadding));

}
#navbar .logoImg img{
    width: 200px;
    
}
#navbar .pages{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Navbar links */
#navbar .pages a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px; */
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Navbar content */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #homepage {
    padding-top: var(--navbarHeight);
}

/* Homepage */
#homepage{
    height: calc(100vh - var(--navbarHeight));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 0px 3%;
    position: relative;

    --bg-image: url('../content/Forest.png');

}
#homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg-image);
    /* background-position: -480px -375px; */
    background-position: -990px -375px;
    background-repeat: no-repeat;
    background-size: 200%;
    filter: blur(20px);
    opacity: 0.6;
    z-index: -1;
}

#homepage .textPart{
    flex-basis: 45%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #46474b;
}
#homepage .textPart .title{
    font-family: "Bungee", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 120px;
    margin-bottom: 0px;
}
#homepage .textPart h3{
    font-size: 30px;
    margin-bottom: 0px;
}
#homepage .textPart .startButton{
    text-align: center;
}
#homepage .textPart .startButton button{
    width: 220px;
    padding: 30px 20px;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    color: white;
    /* background-image: linear-gradient(45deg, var(--greenLightColor), var(--greenDarkColor)); */
    background-color: var(--greenLightColor);
    cursor: pointer;
    transition: 0.5s;
}
#homepage .textPart .startButton button:hover{
    background-color: var(--greenDarkColor);

}
#homepage .sliderPart{
    flex-basis: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}
#homepage .sliderPart i{
    font-size: 30px;
    cursor: pointer;
}

#homepage .sliderPart .sliderImages{
    width: 80%;
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100%;
}

#homepage .sliderPart .sliderImages img{
    /* display: inline-block; */
    height: max-content;
    position: absolute;
    transition: 0.5s;
}

#homepage .sliderPart .sliderImages .old{
    width: 50%;
    display: none;
    left: 0%;
    top: 0px;
}

#homepage .sliderPart .sliderImages .active{
    width: 100%;
    left: 0%;
    top: 5%;

}

#homepage .sliderPart .sliderImages .sub_active{

    width: 50%;
    left: 75%;
    top: 65%;
    filter: blur(8px); 

}

#homepage .sliderPart .sliderImages .sub_sub_active{
    width: 25%;
    left: 100%;
    top: 88%;
    filter: blur(8px);
    z-index: -9;
}

